In [108]:
import requests
import json
import pandas as pd
import numpy as np
from pprint import pprint
api_key="hwXdsTMehMpXGUVpUK"

In [109]:
oscar_df="../Oscar Best Picture 2000-2019.csv"
oscar_list=pd.read_csv(oscar_df,encoding="utf8")
oscar_list["Year"]=""
oscar_list["Metascore"]=""
oscar_list["Box Office"]=""
oscar_list["IMDB Vote"]=""
oscar_list["Director"]=""
oscar_list["Genre"]=""
oscar_list["Maker"]=""
oscar_list["Actors"]=""
oscar_list

,Best picture,Year,Metascore,Box Office,IMDB Vote,Director,Genre,Maker,Actors
0,Green Book,,,,,,,,
1,The Shape of Water,,,,,,,,
2,Moonlight,,,,,,,,
3,Spotlight,,,,,,,,
4,12 Years a Slave,,,,,,,,
5,Argo,,,,,,,,
6,The Artist,,,,,,,,
7,The Kings Speech,,,,,,,,
8,The Hurt Locker,,,,,,,,
9,Slumdog Millionaire,,,,,,,,
10,No Country for Old Men,,,,,,,,
11,The Departed,,,,,,,,
12,Crash,,,,,,,,
13,Million Dollar Baby,,,,,,,,
14,The Lord of the Rings: The Return of the King,,,,,,,,
15,Chicago,,,,,,,,
16,A Beautiful Mind,,,,,,,,
17,Gladiator,,,,,,,,
18,American Beauty,,,,,,,,
19,Shakespeare in Love,,,,,,,,
20,Titanic,,,,,,,,
21,The English Patient,,,,,,,,
22,Braveheart,,,,,,,,
23,Forrest Gump,,,,,,,,
24,Schindlers List,,,,,,,,
25,Unforgiven,,,,,,,,
26,The Silence of the Lambs,,,,,,,,
27,Dances With Wolves,,,,,,,,
28,Driving Miss Daisy,,,,,,,,
29,Rain Man,,,,,,,,
30,The Last Emperor,,,,,,,,
31,Platoon,,,,,,,,
32,Infinity War,,,,,,,,
33,Captain America,,,,,,,,
34,Minions,,,,,,,,
35,Transformers,,,,,,,,

In [110]:
# Note that the ?t= is a query param for the t-itle of the
# movie we want to search for.
for index,row in oscar_list.iterrows():
    genre_info=[]
    try:
        movie_name=row["Best picture"]
        url = "http://www.omdbapi.com/?t="
        api_key = "&apikey=trilogy"
        movie_info=requests.get(url + movie_name + api_key+"&plot=full").json()
        oscar_list.loc[index,"Year"]=movie_info['Year']
        oscar_list.loc[index,"Metascore"]=movie_info['Metascore']
        oscar_list.loc[index,"Box Office"]=movie_info['BoxOffice']
        oscar_list.loc[index,"IMDB Vote"]=movie_info['imdbVotes']
        oscar_list.loc[index,"Director"]=movie_info['Director']
        genre_info.append(movie_info['Genre'])
        genre=genre_info[0].split(',')
        oscar_list.loc[index,"Genre"]=genre[0]
        oscar_list.loc[index,"Maker"]=movie_info['Production']
        oscar_list.loc[index,"Actors"]=movie_info['Actors']
    
    
    except KeyError:
        oscar_list.loc[index,"Box Office"]=np.NaN
    
    
oscar_list=oscar_list.dropna(how='any')
oscar_list

,Best picture,Year,Metascore,Box Office,IMDB Vote,Director,Genre,Maker,Actors
0,Green Book,2018,69,N/A,"138,886",Peter Farrelly,Biography,Universal Pictures,"Viggo Mortensen, Mahershala Ali, Linda Cardell..."
1,The Shape of Water,2017,87,"$57,393,976","292,314",Guillermo del Toro,Adventure,Fox Searchlight Pictures,"Sally Hawkins, Michael Shannon, Richard Jenkin..."
2,Moonlight,2016,99,"$27,850,910","222,201",Barry Jenkins,Drama,A24 Films,"Mahershala Ali, Shariff Earp, Duan Sanderson, ..."
3,Spotlight,2015,93,N/A,"355,078",Tom McCarthy,Crime,Open Road Films,"Mark Ruffalo, Michael Keaton, Rachel McAdams, ..."
4,12 Years a Slave,2013,96,"$50,628,650","567,936",Steve McQueen,Biography,Fox Searchlight,"Chiwetel Ejiofor, Dwight Henry, Dickie Gravois..."
5,Argo,2012,86,"$136,019,448","529,124",Ben Affleck,Biography,Warner Bros. Pictures,"Ben Affleck, Bryan Cranston, Alan Arkin, John ..."
6,The Artist,2011,89,"$44,667,095","215,166",Michel Hazanavicius,Comedy,The Weinstein Company,"Jean Dujardin, Bérénice Bejo, John Goodman, Ja..."
8,The Hurt Locker,2008,94,"$15,700,000","386,920",Kathryn Bigelow,Drama,Summit Entertainment,"Jeremy Renner, Anthony Mackie, Brian Geraghty,..."
9,Slumdog Millionaire,2008,86,"$141,243,551","738,900","Danny Boyle, Loveleen Tandan(co-director)",Drama,Fox Searchlight Pictures,"Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu..."
10,No Country for Old Men,2007,91,"$74,223,625","755,743","Ethan Coen, Joel Coen",Crime,Miramax Films,"Tommy Lee Jones, Javier Bardem, Josh Brolin, W..."
11,The Departed,2006,85,"$132,300,000","1,057,386",Martin Scorsese,Crime,Warner Bros. Pictures,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,..."
12,Crash,2004,69,"$55,382,847","398,598",Paul Haggis,Crime,Lions Gate Films,"Karina Arroyave, Dato Bakhtadze, Sandra Bulloc..."
13,Million Dollar Baby,2004,86,"$100,422,786","580,694",Clint Eastwood,Drama,Warner Bros. Pictures,"Clint Eastwood, Hilary Swank, Morgan Freeman, ..."
14,The Lord of the Rings: The Return of the King,2003,94,"$364,000,000","1,470,327",Peter Jackson,Adventure,New Line Cinema,"Noel Appleby, Ali Astin, Sean Astin, David Aston"
15,Chicago,2002,82,N/A,"199,307",Rob Marshall,Comedy,Miramax Films,"Taye Diggs, Cliff Saunders, Catherine Zeta-Jon..."
16,A Beautiful Mind,2001,72,N/A,"759,593",Ron Howard,Biography,Universal Pictures,"Russell Crowe, Ed Harris, Jennifer Connelly, C..."
17,Gladiator,2000,67,N/A,"1,190,426",Ridley Scott,Action,Dreamworks Distribution LLC,"Russell Crowe, Joaquin Phoenix, Connie Nielsen..."
18,American Beauty,1999,86,N/A,"978,491",Sam Mendes,Drama,Dreamworks,"Kevin Spacey, Annette Bening, Thora Birch, Wes..."
19,Shakespeare in Love,1998,87,N/A,"199,488",John Madden,Comedy,Miramax,"Geoffrey Rush, Tom Wilkinson, Steven O'Donnell..."
20,Titanic,1997,75,N/A,"941,210",James Cameron,Drama,Paramount Pictures,"Leonardo DiCaprio, Kate Winslet, Billy Zane, K..."
21,The English Patient,1996,87,N/A,"164,416",Anthony Minghella,Drama,Miramax Films,"Ralph Fiennes, Juliette Binoche, Willem Dafoe,..."
22,Braveheart,1995,68,N/A,"881,605",Mel Gibson,Biography,Paramount Pictures,"James Robinson, Sean Lawlor, Sandy Nelson, Jam..."
23,Forrest Gump,1994,82,"$330,000,000","1,577,904",Robert Zemeckis,Drama,Paramount Pictures,"Tom Hanks, Rebecca Williams, Sally Field, Mich..."
25,Unforgiven,1992,85,N/A,"336,649",Clint Eastwood,Drama,Warner Bros. Pictures,"Clint Eastwood, Gene Hackman, Morgan Freeman, ..."
26,The Silence of the Lambs,1991,85,N/A,"1,110,976",Jonathan Demme,Crime,Orion Pictures Corporation,"Jodie Foster, Lawrence A. Bonney, Kasi Lemmons..."
27,Dances With Wolves,1990,72,N/A,"218,320",Kevin Costner,Adventure,Orion Pictures,"Kevin Costner, Mary McDonnell, Graham Greene, ..."
28,Driving Miss Daisy,1989,81,N/A,"87,955",Bruce Beresford,Drama,Fathom Events,"Morgan Freeman, Jessica Tandy, Dan Aykroyd, Pa..."
29,Rain Man,1988,65,N/A,"435,800",Barry Levinson,Drama,MGM,"Dustin Hoffman, Tom Cruise, Valeria Golino, Ge..."
30,The Last Emperor,1987,76,N/A,"84,173",Bernardo Bertolucci,Biography,Columbia Pictures,"John Lone, Joan Chen, Peter O'Toole, Ruocheng ..."
31,Platoon,1986,92,N/A,"347,068",Oliver Stone,Drama,Orion Pictures,"Tom Berenger, Keith David, Willem Dafoe, Fores..."
32,Infinity War,2018,68,"$664,987,816","592,755","Anthony Russo, Joe Russo",Action,Walt Disney Pictures,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa..."
33,Captain America,1990,N/A,N/A,"9,896",Albert Pyun,Action,Paramount,"Matt Salinger, Ronny Cox, Ned Beatty, Darren M..."
34,Minions,2015,56,"$277,969,969","190,872","Kyle Balda, Pierre Coffin",Animation,Universal Pictures,"Sandra Bullock, Jon Hamm, Michael Keaton, Alli..."
35,Transformers,2007,61,"$319,014,499","565,832",Michael Bay,Action,Dreamworks,"Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese ..."

In [111]:
oscar_list_refine=oscar_list.loc[oscar_list["Box Office"]!="N/A"]
oscar_list_refine["Box Office"]=oscar_list_refine["Box Office"].replace({'\$':''}, regex = True)
oscar_list_refine

C:\Users\eugene.chu1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Best picture,Year,Metascore,Box Office,IMDB Vote,Director,Genre,Maker,Actors
1,The Shape of Water,2017,87,"57,393,976","292,314",Guillermo del Toro,Adventure,Fox Searchlight Pictures,"Sally Hawkins, Michael Shannon, Richard Jenkin..."
2,Moonlight,2016,99,"27,850,910","222,201",Barry Jenkins,Drama,A24 Films,"Mahershala Ali, Shariff Earp, Duan Sanderson, ..."
4,12 Years a Slave,2013,96,"50,628,650","567,936",Steve McQueen,Biography,Fox Searchlight,"Chiwetel Ejiofor, Dwight Henry, Dickie Gravois..."
5,Argo,2012,86,"136,019,448","529,124",Ben Affleck,Biography,Warner Bros. Pictures,"Ben Affleck, Bryan Cranston, Alan Arkin, John ..."
6,The Artist,2011,89,"44,667,095","215,166",Michel Hazanavicius,Comedy,The Weinstein Company,"Jean Dujardin, Bérénice Bejo, John Goodman, Ja..."
8,The Hurt Locker,2008,94,"15,700,000","386,920",Kathryn Bigelow,Drama,Summit Entertainment,"Jeremy Renner, Anthony Mackie, Brian Geraghty,..."
9,Slumdog Millionaire,2008,86,"141,243,551","738,900","Danny Boyle, Loveleen Tandan(co-director)",Drama,Fox Searchlight Pictures,"Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu..."
10,No Country for Old Men,2007,91,"74,223,625","755,743","Ethan Coen, Joel Coen",Crime,Miramax Films,"Tommy Lee Jones, Javier Bardem, Josh Brolin, W..."
11,The Departed,2006,85,"132,300,000","1,057,386",Martin Scorsese,Crime,Warner Bros. Pictures,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,..."
12,Crash,2004,69,"55,382,847","398,598",Paul Haggis,Crime,Lions Gate Films,"Karina Arroyave, Dato Bakhtadze, Sandra Bulloc..."
13,Million Dollar Baby,2004,86,"100,422,786","580,694",Clint Eastwood,Drama,Warner Bros. Pictures,"Clint Eastwood, Hilary Swank, Morgan Freeman, ..."
14,The Lord of the Rings: The Return of the King,2003,94,"364,000,000","1,470,327",Peter Jackson,Adventure,New Line Cinema,"Noel Appleby, Ali Astin, Sean Astin, David Aston"
23,Forrest Gump,1994,82,"330,000,000","1,577,904",Robert Zemeckis,Drama,Paramount Pictures,"Tom Hanks, Rebecca Williams, Sally Field, Mich..."
32,Infinity War,2018,68,"664,987,816","592,755","Anthony Russo, Joe Russo",Action,Walt Disney Pictures,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa..."
34,Minions,2015,56,"277,969,969","190,872","Kyle Balda, Pierre Coffin",Animation,Universal Pictures,"Sandra Bullock, Jon Hamm, Michael Keaton, Alli..."
35,Transformers,2007,61,"319,014,499","565,832",Michael Bay,Action,Dreamworks,"Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese ..."

In [112]:
# Converting the response to JSON, and printing the result.
response = requests.get(url + "Infinity War" + api_key+"&plot=full")
data = response.json()
#pprint(data)

In [6]:
# Print a few keys from the response JSON.
print(f"Movie was directed by {data['Director']}.")
print(f"Movie was released in {data['Country']}.")

Movie was directed by James Cameron.
Movie was released in USA.

In [ ]:
base_url="https://gender-api.com/get?"
name="Eugene"
gender_url=f"{base_url}name={name}&key={api_key}"
response=requests.get(gender_url).json()
response['gender']