In [4]:
import requests
import json
import pandas as pd
import numpy as np
from config import api_key
from pprint import pprint
import time
import datetime
import calendar
api_key="9e995d88052340c49380afa2ad2bc2c5"

In [84]:
oscar_df="Oscar Best Picture 2000-2019.csv"
oscar_list=pd.read_csv(oscar_df,encoding="utf8")
oscar_list["Year"]=""
oscar_list["Metascore"]=""
oscar_list["Box Office"]=""
oscar_list["IMDB Vote"]=""
oscar_list["Director"]=""
oscar_list["Genre"]=""
oscar_list["Maker"]=""
oscar_list["Actors"]=""
oscar_list["Female"]=""
oscar_list["Male"]=""
oscar_list

,Best picture,Year,Metascore,Box Office,IMDB Vote,Director,Genre,Maker,Actors,Female,Male
0,Green Book,,,,,,,,,,
1,The Shape of Water,,,,,,,,,,
2,Moonlight,,,,,,,,,,
3,Spotlight,,,,,,,,,,
4,12 Years a Slave,,,,,,,,,,
5,Argo,,,,,,,,,,
6,The Artist,,,,,,,,,,
7,The Kings Speech,,,,,,,,,,
8,The Hurt Locker,,,,,,,,,,
9,Slumdog Millionaire,,,,,,,,,,
10,No Country for Old Men,,,,,,,,,,
11,The Departed,,,,,,,,,,
12,Crash,,,,,,,,,,
13,Million Dollar Baby,,,,,,,,,,
14,The Lord of the Rings: The Return of the King,,,,,,,,,,
15,Chicago,,,,,,,,,,
16,A Beautiful Mind,,,,,,,,,,
17,Gladiator,,,,,,,,,,
18,American Beauty,,,,,,,,,,
19,Shakespeare in Love,,,,,,,,,,
20,Titanic,,,,,,,,,,
21,The English Patient,,,,,,,,,,
22,Braveheart,,,,,,,,,,
23,Forrest Gump,,,,,,,,,,
24,Schindlers List,,,,,,,,,,
25,Unforgiven,,,,,,,,,,
26,The Silence of the Lambs,,,,,,,,,,
27,Dances With Wolves,,,,,,,,,,
28,Driving Miss Daisy,,,,,,,,,,
29,Rain Man,,,,,,,,,,
30,The Last Emperor,,,,,,,,,,
31,Platoon,,,,,,,,,,
32,Infinity War,,,,,,,,,,
33,Captain America,,,,,,,,,,
34,Minions,,,,,,,,,,
35,Transformers,,,,,,,,,,

In [136]:
# Note that the ?t= is a query param for the t-itle of the
# movie we want to search for.
for index,row in oscar_list.iterrows():
    genre_info=[]
    try:
        movie_name=row["Best picture"]
        url = "http://www.omdbapi.com/?t="
        api_key1 = "&apikey=trilogy"
        movie_info=requests.get(url + movie_name + api_key1+"&plot=full").json()
        oscar_list.loc[index,"Year"]=movie_info['Year']
        oscar_list.loc[index,"Metascore"]=movie_info['Metascore']
        oscar_list.loc[index,"Box Office"]=movie_info['BoxOffice']
        oscar_list.loc[index,"IMDB Vote"]=movie_info['imdbVotes']
        oscar_list.loc[index,"Director"]=movie_info['Director']
        genre_info.append(movie_info['Genre'])
        genre=genre_info[0].split(',')
        oscar_list.loc[index,"Genre"]=genre[0]
        oscar_list.loc[index,"Maker"]=movie_info['Production']
        oscar_list.loc[index,"Actors"]=movie_info['Actors']
    
    
    except KeyError:
        oscar_list.loc[index,"Box Office"]=np.NaN
    
    
oscar_list=oscar_list.dropna(how='any')
oscar_list

,Best picture,Year,Metascore,Box Office,IMDB Vote,Director,Genre,Maker,Actors,Female,Male
0,Green Book,2018,69,N/A,"138,886",Peter Farrelly,Biography,Universal Pictures,"Viggo Mortensen, Mahershala Ali, Linda Cardell...",,
1,The Shape of Water,2017,87,"$57,393,976","292,314",Guillermo del Toro,Adventure,Fox Searchlight Pictures,"Sally Hawkins, Michael Shannon, Richard Jenkin...",,
2,Moonlight,2016,99,"$27,850,910","222,201",Barry Jenkins,Drama,A24 Films,"Mahershala Ali, Shariff Earp, Duan Sanderson, ...",,
3,Spotlight,2015,93,N/A,"358,606",Tom McCarthy,Crime,Open Road Films,"Mark Ruffalo, Michael Keaton, Rachel McAdams, ...",,
4,12 Years a Slave,2013,96,"$50,628,650","567,936",Steve McQueen,Biography,Fox Searchlight,"Chiwetel Ejiofor, Dwight Henry, Dickie Gravois...",,
5,Argo,2012,86,"$136,019,448","529,124",Ben Affleck,Biography,Warner Bros. Pictures,"Ben Affleck, Bryan Cranston, Alan Arkin, John ...",,
6,The Artist,2011,89,"$44,667,095","215,166",Michel Hazanavicius,Comedy,The Weinstein Company,"Jean Dujardin, Bérénice Bejo, John Goodman, Ja...",,
8,The Hurt Locker,2008,94,"$15,700,000","388,856",Kathryn Bigelow,Drama,Summit Entertainment,"Jeremy Renner, Anthony Mackie, Brian Geraghty,...",,
9,Slumdog Millionaire,2008,86,"$141,243,551","738,900","Danny Boyle, Loveleen Tandan(co-director)",Drama,Fox Searchlight Pictures,"Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...",,
10,No Country for Old Men,2007,91,"$74,223,625","755,743","Ethan Coen, Joel Coen",Crime,Miramax Films,"Tommy Lee Jones, Javier Bardem, Josh Brolin, W...",,
11,The Departed,2006,85,"$132,300,000","1,057,386",Martin Scorsese,Crime,Warner Bros. Pictures,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,...",,
12,Crash,2004,69,"$55,382,847","398,598",Paul Haggis,Crime,Lions Gate Films,"Karina Arroyave, Dato Bakhtadze, Sandra Bulloc...",,
13,Million Dollar Baby,2004,86,"$100,422,786","580,694",Clint Eastwood,Drama,Warner Bros. Pictures,"Clint Eastwood, Hilary Swank, Morgan Freeman, ...",,
14,The Lord of the Rings: The Return of the King,2003,94,"$364,000,000","1,470,327",Peter Jackson,Adventure,New Line Cinema,"Noel Appleby, Ali Astin, Sean Astin, David Aston",,
15,Chicago,2002,82,N/A,"199,307",Rob Marshall,Comedy,Miramax Films,"Taye Diggs, Cliff Saunders, Catherine Zeta-Jon...",,
16,A Beautiful Mind,2001,72,N/A,"759,593",Ron Howard,Biography,Universal Pictures,"Russell Crowe, Ed Harris, Jennifer Connelly, C...",,
17,Gladiator,2000,67,N/A,"1,190,426",Ridley Scott,Action,Dreamworks Distribution LLC,"Russell Crowe, Joaquin Phoenix, Connie Nielsen...",,
18,American Beauty,1999,86,N/A,"978,491",Sam Mendes,Drama,Dreamworks,"Kevin Spacey, Annette Bening, Thora Birch, Wes...",,
19,Shakespeare in Love,1998,87,N/A,"199,488",John Madden,Comedy,Miramax,"Geoffrey Rush, Tom Wilkinson, Steven O'Donnell...",,
20,Titanic,1997,75,N/A,"941,210",James Cameron,Drama,Paramount Pictures,"Leonardo DiCaprio, Kate Winslet, Billy Zane, K...",,
21,The English Patient,1996,87,N/A,"164,416",Anthony Minghella,Drama,Miramax Films,"Ralph Fiennes, Juliette Binoche, Willem Dafoe,...",,
22,Braveheart,1995,68,N/A,"881,605",Mel Gibson,Biography,Paramount Pictures,"James Robinson, Sean Lawlor, Sandy Nelson, Jam...",,
23,Forrest Gump,1994,82,"$330,000,000","1,577,904",Robert Zemeckis,Drama,Paramount Pictures,"Tom Hanks, Rebecca Williams, Sally Field, Mich...",,
25,Unforgiven,1992,85,N/A,"336,649",Clint Eastwood,Drama,Warner Bros. Pictures,"Clint Eastwood, Gene Hackman, Morgan Freeman, ...",,
26,The Silence of the Lambs,1991,85,N/A,"1,110,976",Jonathan Demme,Crime,Orion Pictures Corporation,"Jodie Foster, Lawrence A. Bonney, Kasi Lemmons...",,
27,Dances With Wolves,1990,72,N/A,"218,320",Kevin Costner,Adventure,Orion Pictures,"Kevin Costner, Mary McDonnell, Graham Greene, ...",,
28,Driving Miss Daisy,1989,81,N/A,"87,955",Bruce Beresford,Drama,Fathom Events,"Morgan Freeman, Jessica Tandy, Dan Aykroyd, Pa...",,
29,Rain Man,1988,65,N/A,"435,800",Barry Levinson,Drama,MGM,"Dustin Hoffman, Tom Cruise, Valeria Golino, Ge...",,
30,The Last Emperor,1987,76,N/A,"84,173",Bernardo Bertolucci,Biography,Columbia Pictures,"John Lone, Joan Chen, Peter O'Toole, Ruocheng ...",,
31,Platoon,1986,92,N/A,"347,068",Oliver Stone,Drama,Orion Pictures,"Tom Berenger, Keith David, Willem Dafoe, Fores...",,
32,Infinity War,2018,68,"$664,987,816","592,755","Anthony Russo, Joe Russo",Action,Walt Disney Pictures,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",,
33,Captain America,1990,N/A,N/A,"9,896",Albert Pyun,Action,Paramount,"Matt Salinger, Ronny Cox, Ned Beatty, Darren M...",,
34,Minions,2015,56,"$277,969,969","190,872","Kyle Balda, Pierre Coffin",Animation,Universal Pictures,"Sandra Bullock, Jon Hamm, Michael Keaton, Alli...",,
35,Transformers,2007,61,"$319,014,499","565,832",Michael Bay,Action,Dreamworks,"Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese ...",,

In [61]:
oscar_list_refine=oscar_list.loc[oscar_list["Box Office"]!="N/A"]
oscar_list_refine["Box Office"]=oscar_list_refine["Box Office"].replace({'\$':''}, regex = True)
oscar_list_refine["Actors"]=oscar_list_refine["Actors"].replace({", ":","}, regex = True)
oscar_list_refine

C:\Users\eugene.chu1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\eugene.chu1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Best picture,Year,Metascore,Box Office,IMDB Vote,Director,Genre,Maker,Actors,Female,Male
1,The Shape of Water,2017,87,"57,393,976","292,314",Guillermo del Toro,Adventure,Fox Searchlight Pictures,"Sally Hawkins,Michael Shannon,Richard Jenkins,...",,
2,Moonlight,2016,99,"27,850,910","222,201",Barry Jenkins,Drama,A24 Films,"Mahershala Ali,Shariff Earp,Duan Sanderson,Ale...",,
4,12 Years a Slave,2013,96,"50,628,650","567,936",Steve McQueen,Biography,Fox Searchlight,"Chiwetel Ejiofor,Dwight Henry,Dickie Gravois,B...",,
5,Argo,2012,86,"136,019,448","529,124",Ben Affleck,Biography,Warner Bros. Pictures,"Ben Affleck,Bryan Cranston,Alan Arkin,John Goo...",,
6,The Artist,2011,89,"44,667,095","215,166",Michel Hazanavicius,Comedy,The Weinstein Company,"Jean Dujardin,Bérénice Bejo,John Goodman,James...",,
8,The Hurt Locker,2008,94,"15,700,000","386,920",Kathryn Bigelow,Drama,Summit Entertainment,"Jeremy Renner,Anthony Mackie,Brian Geraghty,Gu...",,
9,Slumdog Millionaire,2008,86,"141,243,551","738,900","Danny Boyle, Loveleen Tandan(co-director)",Drama,Fox Searchlight Pictures,"Dev Patel,Saurabh Shukla,Anil Kapoor,Raj Zutshi",,
10,No Country for Old Men,2007,91,"74,223,625","755,743","Ethan Coen, Joel Coen",Crime,Miramax Films,"Tommy Lee Jones,Javier Bardem,Josh Brolin,Wood...",,
11,The Departed,2006,85,"132,300,000","1,057,386",Martin Scorsese,Crime,Warner Bros. Pictures,"Leonardo DiCaprio,Matt Damon,Jack Nicholson,Ma...",,
12,Crash,2004,69,"55,382,847","398,598",Paul Haggis,Crime,Lions Gate Films,"Karina Arroyave,Dato Bakhtadze,Sandra Bullock,...",,
13,Million Dollar Baby,2004,86,"100,422,786","580,694",Clint Eastwood,Drama,Warner Bros. Pictures,"Clint Eastwood,Hilary Swank,Morgan Freeman,Jay...",,
14,The Lord of the Rings: The Return of the King,2003,94,"364,000,000","1,470,327",Peter Jackson,Adventure,New Line Cinema,"Noel Appleby,Ali Astin,Sean Astin,David Aston",,
23,Forrest Gump,1994,82,"330,000,000","1,577,904",Robert Zemeckis,Drama,Paramount Pictures,"Tom Hanks,Rebecca Williams,Sally Field,Michael...",,
32,Infinity War,2018,68,"664,987,816","592,755","Anthony Russo, Joe Russo",Action,Walt Disney Pictures,"Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo...",,
34,Minions,2015,56,"277,969,969","190,872","Kyle Balda, Pierre Coffin",Animation,Universal Pictures,"Sandra Bullock,Jon Hamm,Michael Keaton,Allison...",,
35,Transformers,2007,61,"319,014,499","565,832",Michael Bay,Action,Dreamworks,"Shia LaBeouf,Megan Fox,Josh Duhamel,Tyrese Gibson",,

In [91]:
# Converting the response to JSON, and printing the result.
#api_key = "&apikey=trilogy"
#response = requests.get(url + "Infinity War" + api_key+"&plot=full")
#data = response.json()
#pprint(data)

{'Actors': 'Robert Downey Jr., Chris Hemsworth, Mark Ruffalo, Chris Evans',
 'Awards': 'N/A',
 'BoxOffice': '$664,987,816',
 'Country': 'USA',
 'DVD': '14 Aug 2018',
 'Director': 'Anthony Russo, Joe Russo',
 'Genre': 'Action, Adventure, Fantasy, Sci-Fi',
 'Language': 'English',
 'Metascore': '68',
 'Plot': 'The Avengers and their allies must be willing to sacrifice all in an '
         'attempt to defeat the powerful Thanos before his blitz of '
         'devastation and ruin puts an end to the universe.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_SX300.jpg',
 'Production': 'Walt Disney Pictures',
 'Rated': 'PG-13',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.5/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '85%'},
             {'Source': 'Metacritic', 'Value': '68/100'}],
 'Released': '27 Apr 2018',
 'Response': 'True',
 'Runtime': '149 min',
 'Title': 'Avengers: Infinity War',
 'Type': 'movie',
 'Website': 'http://marvel.com/movies/movie/223/avengers_infinity_war',
 'Writer': 'Christopher Markus (screenplay by), Stephen McFeely (screenplay '
           'by), Stan Lee (based on the Marvel comics by), Jack Kirby (based '
           'on the Marvel comics by), Joe Simon (Captain America created by), '
           'Jack Kirby (Captain America created by), Steve Englehart '
           '(Star-Lord created by), Steve Gan (Star-Lord created by), Bill '
           'Mantlo (Rocket Raccoon created by), Keith Giffen (Rocket Raccoon '
           'created by), Jim Starlin (Thanos,  Gamora and Drax created by), '
           'Stan Lee (Groot created by), Larry Lieber (Groot created by), Jack '
           'Kirby (Groot created by), Steve Englehart (Mantis created by), Don '
           'Heck (Mantis created by)',
 'Year': '2018',
 'imdbID': 'tt4154756',
 'imdbRating': '8.5',
 'imdbVotes': '592,755'}

In [73]:
base_url="https://gender-api.com/get?"
for index,row in oscar_list_refine.iterrows():
    actor_list=[]
    actor_list.append(oscar_list_refine.loc[index,"Actors"])
    actor_total=actor_list[0].split(',')
    male_count=0
    female_count=0
    
    for actor in actor_total:

        gender_check_url=f"{base_url}name={actor}&key={api_key2}"
        gender_response=requests.get(gender_check_url).json()
        if gender_response['gender']=='male':
            male_count+=1
        elif gender_response['gender']=='female':
            female_count+=1
            
    oscar_list_refine.loc[index,"Female"]=female_count
    oscar_list_refine.loc[index,"Male"]=male_count
    
oscar_list_refine

C:\Users\eugene.chu1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\eugene.chu1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Best picture,Year,Metascore,Box Office,IMDB Vote,Director,Genre,Maker,Actors,Female,Male
1,The Shape of Water,2017,87,"57,393,976","292,314",Guillermo del Toro,Adventure,Fox Searchlight Pictures,"Sally Hawkins,Michael Shannon,Richard Jenkins,...",1,3
2,Moonlight,2016,99,"27,850,910","222,201",Barry Jenkins,Drama,A24 Films,"Mahershala Ali,Shariff Earp,Duan Sanderson,Ale...",0,4
4,12 Years a Slave,2013,96,"50,628,650","567,936",Steve McQueen,Biography,Fox Searchlight,"Chiwetel Ejiofor,Dwight Henry,Dickie Gravois,B...",0,4
5,Argo,2012,86,"136,019,448","529,124",Ben Affleck,Biography,Warner Bros. Pictures,"Ben Affleck,Bryan Cranston,Alan Arkin,John Goo...",0,4
6,The Artist,2011,89,"44,667,095","215,166",Michel Hazanavicius,Comedy,The Weinstein Company,"Jean Dujardin,Bérénice Bejo,John Goodman,James...",0,4
8,The Hurt Locker,2008,94,"15,700,000","386,920",Kathryn Bigelow,Drama,Summit Entertainment,"Jeremy Renner,Anthony Mackie,Brian Geraghty,Gu...",0,4
9,Slumdog Millionaire,2008,86,"141,243,551","738,900","Danny Boyle, Loveleen Tandan(co-director)",Drama,Fox Searchlight Pictures,"Dev Patel,Saurabh Shukla,Anil Kapoor,Raj Zutshi",0,4
10,No Country for Old Men,2007,91,"74,223,625","755,743","Ethan Coen, Joel Coen",Crime,Miramax Films,"Tommy Lee Jones,Javier Bardem,Josh Brolin,Wood...",0,4
11,The Departed,2006,85,"132,300,000","1,057,386",Martin Scorsese,Crime,Warner Bros. Pictures,"Leonardo DiCaprio,Matt Damon,Jack Nicholson,Ma...",0,4
12,Crash,2004,69,"55,382,847","398,598",Paul Haggis,Crime,Lions Gate Films,"Karina Arroyave,Dato Bakhtadze,Sandra Bullock,...",2,2
13,Million Dollar Baby,2004,86,"100,422,786","580,694",Clint Eastwood,Drama,Warner Bros. Pictures,"Clint Eastwood,Hilary Swank,Morgan Freeman,Jay...",1,3
14,The Lord of the Rings: The Return of the King,2003,94,"364,000,000","1,470,327",Peter Jackson,Adventure,New Line Cinema,"Noel Appleby,Ali Astin,Sean Astin,David Aston",0,4
23,Forrest Gump,1994,82,"330,000,000","1,577,904",Robert Zemeckis,Drama,Paramount Pictures,"Tom Hanks,Rebecca Williams,Sally Field,Michael...",2,2
32,Infinity War,2018,68,"664,987,816","592,755","Anthony Russo, Joe Russo",Action,Walt Disney Pictures,"Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo...",0,4
34,Minions,2015,56,"277,969,969","190,872","Kyle Balda, Pierre Coffin",Animation,Universal Pictures,"Sandra Bullock,Jon Hamm,Michael Keaton,Allison...",2,2
35,Transformers,2007,61,"319,014,499","565,832",Michael Bay,Action,Dreamworks,"Shia LaBeouf,Megan Fox,Josh Duhamel,Tyrese Gibson",2,2

In [123]:
def month_convert(mon):
    abbr_to_num = {name: num for num, name in enumerate(calendar.month_abbr) if num}
    return(abbr_to_num[mon])

def datetime_convert(year,month,date):
    dateTime = datetime.date(year,month,date)
    unixtime = time.mktime(dateTime.timetuple())
    return(unixtime)

In [181]:
#Break down and generate the Released Schedule:
refine_list_df=pd.read_csv("movie_list_after_refine.csv",encoding="utf8")
del refine_list_df["Unnamed: 0"]
refine_list_df["Released Schedule"]=""
refine_list_df["Released Year"]=""
refine_list_df["Released Month"]=""
refine_list_df["Released Date"]=""
for index,row in refine_list_df.iterrows():
    date=[]
    moviename_refine=row["Best picture"]
    url = "http://www.omdbapi.com/?t="
    api_key1 = "&apikey=trilogy"
    movieinfo_refine=requests.get(url + moviename_refine + api_key1+"&plot=full").json()
    refine_list_df.loc[index,"Released Schedule"]=movieinfo_refine["Released"]
    date.append(movieinfo_refine["Released"])
    month_info=date[0].split(' ')
    refine_list_df.loc[index,"Released Month"]=month_convert(month_info[1])
    refine_list_df.loc[index,"Released Date"]=month_info[0]
    refine_list_df.loc[index,"Released Year"]=month_info[2]
    
refine_list_df["Released Year"]=pd.to_numeric(refine_list_df["Released Year"])
refine_list_df["Released Date"]=pd.to_numeric(refine_list_df["Released Date"])
refine_list_df.head(5)

,Best picture,Year,Metascore,Box Office,IMDB Vote,Director,Genre,Maker,Actors,Female,Male,Released Schedule,Released Year,Released Month,Released Date
0,The Shape of Water,2017,87,"57,393,976","292,314",Guillermo del Toro,Adventure,Fox Searchlight Pictures,"Sally Hawkins,Michael Shannon,Richard Jenkins,...",1,3,22 Dec 2017,2017,12,22
1,Moonlight,2016,99,"27,850,910","222,201",Barry Jenkins,Drama,A24 Films,"Mahershala Ali,Shariff Earp,Duan Sanderson,Ale...",0,4,18 Nov 2016,2016,11,18
2,12 Years a Slave,2013,96,"50,628,650","567,936",Steve McQueen,Biography,Fox Searchlight,"Chiwetel Ejiofor,Dwight Henry,Dickie Gravois,B...",0,4,08 Nov 2013,2013,11,8
3,Argo,2012,86,"136,019,448","529,124",Ben Affleck,Biography,Warner Bros. Pictures,"Ben Affleck,Bryan Cranston,Alan Arkin,John Goo...",0,4,12 Oct 2012,2012,10,12
4,The Artist,2011,89,"44,667,095","215,166",Michel Hazanavicius,Comedy,The Weinstein Company,"Jean Dujardin,Bérénice Bejo,John Goodman,James...",0,4,20 Jan 2012,2012,1,20

In [182]:
#Generate the weather in the released date:
refine_list_df["Released Date Unix"]=""
for index,row in refine_list_df.iterrows():
    released_year=row["Released Year"]
    released_month=row["Released Month"]
    released_date=row["Released Date"]
    date_unix=datetime_convert(released_year,released_month,released_date)
    refine_list_df.loc[index,"Released Date Unix"]=date_unix
    
refine_list_df.head(10)

,Best picture,Year,Metascore,Box Office,IMDB Vote,Director,Genre,Maker,Actors,Female,Male,Released Schedule,Released Year,Released Month,Released Date,Released Date Unix
0,The Shape of Water,2017,87,"57,393,976","292,314",Guillermo del Toro,Adventure,Fox Searchlight Pictures,"Sally Hawkins,Michael Shannon,Richard Jenkins,...",1,3,22 Dec 2017,2017,12,22,1513929600
1,Moonlight,2016,99,"27,850,910","222,201",Barry Jenkins,Drama,A24 Films,"Mahershala Ali,Shariff Earp,Duan Sanderson,Ale...",0,4,18 Nov 2016,2016,11,18,1479456000
2,12 Years a Slave,2013,96,"50,628,650","567,936",Steve McQueen,Biography,Fox Searchlight,"Chiwetel Ejiofor,Dwight Henry,Dickie Gravois,B...",0,4,08 Nov 2013,2013,11,8,1383897600
3,Argo,2012,86,"136,019,448","529,124",Ben Affleck,Biography,Warner Bros. Pictures,"Ben Affleck,Bryan Cranston,Alan Arkin,John Goo...",0,4,12 Oct 2012,2012,10,12,1350025200
4,The Artist,2011,89,"44,667,095","215,166",Michel Hazanavicius,Comedy,The Weinstein Company,"Jean Dujardin,Bérénice Bejo,John Goodman,James...",0,4,20 Jan 2012,2012,1,20,1327046400
5,The Hurt Locker,2008,94,"15,700,000","386,920",Kathryn Bigelow,Drama,Summit Entertainment,"Jeremy Renner,Anthony Mackie,Brian Geraghty,Gu...",0,4,31 Jul 2009,2009,7,31,1249023600
6,Slumdog Millionaire,2008,86,"141,243,551","738,900","Danny Boyle, Loveleen Tandan(co-director)",Drama,Fox Searchlight Pictures,"Dev Patel,Saurabh Shukla,Anil Kapoor,Raj Zutshi",0,4,25 Dec 2008,2008,12,25,1230192000
7,No Country for Old Men,2007,91,"74,223,625","755,743","Ethan Coen, Joel Coen",Crime,Miramax Films,"Tommy Lee Jones,Javier Bardem,Josh Brolin,Wood...",0,4,21 Nov 2007,2007,11,21,1195632000
8,The Departed,2006,85,"132,300,000","1,057,386",Martin Scorsese,Crime,Warner Bros. Pictures,"Leonardo DiCaprio,Matt Damon,Jack Nicholson,Ma...",0,4,06 Oct 2006,2006,10,6,1160118000
9,Crash,2004,69,"55,382,847","398,598",Paul Haggis,Crime,Lions Gate Films,"Karina Arroyave,Dato Bakhtadze,Sandra Bullock,...",2,2,06 May 2005,2005,5,6,1115362800

In [10]:
url2="https://api.weatherbit.io/v2.0/history/daily?"
start="2019-3-29"
end="2019-3-29"
history_url=f"{url2}city={city}&start_date={start}&end_date={end}&key={api_key}"
response=requests.get(history_url).json()
pprint(response)

{'error': 'API key not valid, or not yet activated.'}