In [1]:
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
api_key="hwXdsTMehMpXGUVpUK"

In [2]:
oscar_movie="Book1.csv"
oscar_movie_list=pd.read_csv(oscar_movie)
oscar_movie_list["Director"]=""
oscar_movie_list["Metascore"]=""
oscar_movie_list["Box Office"]=""
oscar_movie_list["IMDB Vote"]=""
oscar_movie_list["Genre"]=""
oscar_movie_list["Actors"]=""

In [3]:
for index,row in oscar_movie_list.iterrows():
    genre_list=[]
    try:
        movie_name=row["Best picture list"]
        url = "http://www.omdbapi.com/?t="
        api_key = "&apikey=trilogy"
        response = requests.get(url + movie_name + api_key).json()
        oscar_movie_list.loc[index,"Director"]=response['Director']
        oscar_movie_list.loc[index,"Box Office"]=response['BoxOffice']
        oscar_movie_list.loc[index,"Metascore"]=response['Metascore']
        oscar_movie_list.loc[index,"IMDB Vote"]=response['imdbVotes']
        oscar_movie_list.loc[index,"Actors"]=response['Actors']
        genre_list.append(response['Genre'])
        movie_genre=genre_list[0].split(',')
        oscar_movie_list.loc[index,"Genre"]=movie_genre[0]
    except KeyError:
        oscar_movie_list.loc[index,"Box Office"]=np.NaN
    
oscar_movie_list=oscar_movie_list.dropna(how='any')
oscar_movie_list

,Best picture list,year,Director,Metascore,Box Office,IMDB Vote,Genre,Actors
0,Green Book,2019,Peter Farrelly,69,N/A,"138,886",Biography,"Viggo Mortensen, Mahershala Ali, Linda Cardell..."
1,The Shape of Water,2018,Guillermo del Toro,87,"$57,393,976","292,314",Adventure,"Sally Hawkins, Michael Shannon, Richard Jenkin..."
2,Moonlight,2017,Barry Jenkins,99,"$27,850,910","222,201",Drama,"Mahershala Ali, Shariff Earp, Duan Sanderson, ..."
3,Spotlight,2016,Tom McCarthy,93,N/A,"355,078",Crime,"Mark Ruffalo, Michael Keaton, Rachel McAdams, ..."
5,12 Years a Slave,2014,Steve McQueen,96,"$50,628,650","567,936",Biography,"Chiwetel Ejiofor, Dwight Henry, Dickie Gravois..."
6,Argo,2013,Ben Affleck,86,"$136,019,448","529,124",Biography,"Ben Affleck, Bryan Cranston, Alan Arkin, John ..."
7,The Artist,2012,Michel Hazanavicius,89,"$44,667,095","215,166",Comedy,"Jean Dujardin, Bérénice Bejo, John Goodman, Ja..."
8,The King's Speech,2011,Tom Hooper,88,"$138,300,000","586,456",Biography,"Colin Firth, Helena Bonham Carter, Derek Jacob..."
9,The Hurt Locker,2010,Kathryn Bigelow,94,"$15,700,000","386,920",Drama,"Jeremy Renner, Anthony Mackie, Brian Geraghty,..."
10,Slumdog Millionaire,2009,"Danny Boyle, Loveleen Tandan(co-director)",86,"$141,243,551","738,900",Drama,"Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu..."
11,No Country for Old Men,2008,"Ethan Coen, Joel Coen",91,"$74,223,625","755,743",Crime,"Tommy Lee Jones, Javier Bardem, Josh Brolin, W..."
12,The Departed,2007,Martin Scorsese,85,"$132,300,000","1,057,386",Crime,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,..."
13,Crash,2006,Paul Haggis,69,"$55,382,847","398,598",Crime,"Karina Arroyave, Dato Bakhtadze, Sandra Bulloc..."
14,Million Dollar Baby,2005,Clint Eastwood,86,"$100,422,786","580,694",Drama,"Clint Eastwood, Hilary Swank, Morgan Freeman, ..."
15,The Lord of the Rings: The Return of the King,2004,Peter Jackson,94,"$364,000,000","1,470,327",Adventure,"Noel Appleby, Ali Astin, Sean Astin, David Aston"
16,Chicago,2003,Rob Marshall,82,N/A,"199,307",Comedy,"Taye Diggs, Cliff Saunders, Catherine Zeta-Jon..."
17,A Beautiful Mind,2002,Ron Howard,72,N/A,"759,593",Biography,"Russell Crowe, Ed Harris, Jennifer Connelly, C..."
18,Gladiator,2001,Ridley Scott,67,N/A,"1,190,426",Action,"Russell Crowe, Joaquin Phoenix, Connie Nielsen..."
19,American Beauty,2000,Sam Mendes,86,N/A,"978,491",Drama,"Kevin Spacey, Annette Bening, Thora Birch, Wes..."
20,Shakespeare in Love,1999,John Madden,87,N/A,"199,488",Comedy,"Geoffrey Rush, Tom Wilkinson, Steven O'Donnell..."
21,Titanic,1998,James Cameron,75,N/A,"941,210",Drama,"Leonardo DiCaprio, Kate Winslet, Billy Zane, K..."
22,The English Patient,1997,Anthony Minghella,87,N/A,"164,416",Drama,"Ralph Fiennes, Juliette Binoche, Willem Dafoe,..."
23,Braveheart,1996,Mel Gibson,68,N/A,"881,605",Biography,"James Robinson, Sean Lawlor, Sandy Nelson, Jam..."
24,Forrest Gump,1995,Robert Zemeckis,82,"$330,000,000","1,577,904",Drama,"Tom Hanks, Rebecca Williams, Sally Field, Mich..."
25,Schindler’s List,1994,Steven Spielberg,93,N/A,"1,070,798",Biography,"Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro..."
26,Unforgiven,1993,Clint Eastwood,85,N/A,"334,828",Drama,"Clint Eastwood, Gene Hackman, Morgan Freeman, ..."
27,The Silence of the Lambs,1992,Jonathan Demme,85,N/A,"1,110,976",Crime,"Jodie Foster, Lawrence A. Bonney, Kasi Lemmons..."
28,Dances With Wolves,1991,Kevin Costner,72,N/A,"218,320",Adventure,"Kevin Costner, Mary McDonnell, Graham Greene, ..."
29,Driving Miss Daisy,1990,Bruce Beresford,81,N/A,"87,955",Drama,"Morgan Freeman, Jessica Tandy, Dan Aykroyd, Pa..."
30,Rain Man,1989,Barry Levinson,65,N/A,"435,800",Drama,"Dustin Hoffman, Tom Cruise, Valeria Golino, Ge..."
31,The Last Emperor,1988,Bernardo Bertolucci,76,N/A,"84,173",Biography,"John Lone, Joan Chen, Peter O'Toole, Ruocheng ..."
32,Platoon,1987,Oliver Stone,92,N/A,"347,068",Drama,"Tom Berenger, Keith David, Willem Dafoe, Fores..."

In [4]:
movie_list_refine=oscar_movie_list.loc[oscar_movie_list["Box Office"]!="N/A",:]
movie_list_refine["Box Office"]=movie_list_refine["Box Office"].replace({'\$':''}, regex = True)
movie_list_refine

C:\Users\EugeneChu\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Best picture list,year,Director,Metascore,Box Office,IMDB Vote,Genre,Actors
1,The Shape of Water,2018,Guillermo del Toro,87,"57,393,976","292,314",Adventure,"Sally Hawkins, Michael Shannon, Richard Jenkin..."
2,Moonlight,2017,Barry Jenkins,99,"27,850,910","222,201",Drama,"Mahershala Ali, Shariff Earp, Duan Sanderson, ..."
5,12 Years a Slave,2014,Steve McQueen,96,"50,628,650","567,936",Biography,"Chiwetel Ejiofor, Dwight Henry, Dickie Gravois..."
6,Argo,2013,Ben Affleck,86,"136,019,448","529,124",Biography,"Ben Affleck, Bryan Cranston, Alan Arkin, John ..."
7,The Artist,2012,Michel Hazanavicius,89,"44,667,095","215,166",Comedy,"Jean Dujardin, Bérénice Bejo, John Goodman, Ja..."
8,The King's Speech,2011,Tom Hooper,88,"138,300,000","586,456",Biography,"Colin Firth, Helena Bonham Carter, Derek Jacob..."
9,The Hurt Locker,2010,Kathryn Bigelow,94,"15,700,000","386,920",Drama,"Jeremy Renner, Anthony Mackie, Brian Geraghty,..."
10,Slumdog Millionaire,2009,"Danny Boyle, Loveleen Tandan(co-director)",86,"141,243,551","738,900",Drama,"Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu..."
11,No Country for Old Men,2008,"Ethan Coen, Joel Coen",91,"74,223,625","755,743",Crime,"Tommy Lee Jones, Javier Bardem, Josh Brolin, W..."
12,The Departed,2007,Martin Scorsese,85,"132,300,000","1,057,386",Crime,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,..."
13,Crash,2006,Paul Haggis,69,"55,382,847","398,598",Crime,"Karina Arroyave, Dato Bakhtadze, Sandra Bulloc..."
14,Million Dollar Baby,2005,Clint Eastwood,86,"100,422,786","580,694",Drama,"Clint Eastwood, Hilary Swank, Morgan Freeman, ..."
15,The Lord of the Rings: The Return of the King,2004,Peter Jackson,94,"364,000,000","1,470,327",Adventure,"Noel Appleby, Ali Astin, Sean Astin, David Aston"
24,Forrest Gump,1995,Robert Zemeckis,82,"330,000,000","1,577,904",Drama,"Tom Hanks, Rebecca Williams, Sally Field, Mich..."

In [ ]:
base_url="https://gender-api.com/get?"
name="Eugene"
gender_url=f"{base_url}name={name}&key={api_key}"
response=requests.get(gender_url).json()
response['gender']